<h1> Autor </h1>
<picture>
  <source	media="(min-width: 650px)" srcset="images/yo.jpg">
  <source media="(min-width: 465px)"srcset="images/yo.jpg">
  <img  src="images/yo.jpg" alt="mi foto carnet">
</picture>
<h2> Jose Antonio Cordero </h>
