<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Escribe la pregunta"><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Escribe la respuesta"><p>
<label for="tem" class="rem">Tema:</label>
  <select name="quiz[tema]">
		<%  var indiceTematico = ["Otro", "Humanidades", "Ocio", "Ciencia", "Tecnología"];
        for (var i in indiceTematico) { %>
            <option value="<%= indiceTematico[i] %>"<%if (indiceTematico[i] === quiz.tema) {%> selected <% } %> >
     				     <%= indiceTematico[i] %>
     			  </option>
       	<% } %>
</select> <br />
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
